body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(12, 12, 14);
}
#calculator{
    font-family: arial, sans-serif;
    background-color: rgb(3, 3, 31);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;

}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(97, 97, 104);
    color: white;

}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;

}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: rgb(5, 5, 7);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgb(45, 45, 65);

}
button:active{
    background-color: rgb(46, 46, 53);
}

.operator-btn{
    background-color: orange;
}

.operator-btn:hover{
    background-color: rgb(228, 182, 96);
}

.operator-btn:active{
    background-color: rgb(75, 60, 33);
}